.hotel-container-wrapper {
  display: grid;
  grid-auto-flow: column;

  .hotel-container {
    position: fixed;
    bottom: 8px;
    display: flex;
    align-items: flex-end;
    width: 100%;
    overflow-x: scroll;

  }
}