.hotel-container {
  display: grid;
  grid-auto-flow: column;
  overflow-x: scroll;
}

.container {
  padding: 0 4px;
  position: fixed;
  bottom: 8px;
  width: 100%;
  display: flex;
  align-items: flex-end;
}