.hotel-container {
  // grid-column: center-start / -1;
  display: grid;
  grid-auto-flow: column;
  // gap: 20px;
  // overflow: auto;
  // padding-bottom: 1rem;
  // padding: 8px;
  // margin: 0 5px;
  // border-radius: 4px;
  // position: relative;
  // width: 100%;
}

.container {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: flex-end;
}