@import "../../../assets/style/colors.scss";

.navbar {
  z-index: 2;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: $lime;
  color: $white;

  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}