.card {
  background-color: white;
  margin: 0 4px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 4px;
  box-shadow: 1px 0px 15px -3px #000000;
  &:hover {
    cursor: pointer;
  }
  &.selected {
    background-color: beige;
  }
}
.content-wrapper {
  padding: 10px 10px 0px 10px;
  min-width: 300px;
  min-height: 200px;
  display: flex;
  flex-grow: 1;
  .card-image {
    flex: 0 0 50%;
    max-width: 50%;
    margin-right: 10px;
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    .top {
      h4 {
        margin-bottom: 0;
      }
      display: flex;
      flex-direction: column;
      .address {
        color: gray;
        font-size: 15px;
        font-weight: 500;
        margin-top: 10px;
      }
    }
    .bottom {
      display: flex;
      flex-direction: column;
      .price {
        font-weight: bold;
        font-size: 25px;
      }
      .disclaimer {
        color: gray;
        font-size: 12px;
      }
    }
  }
  &.current-hotel {
    background-color: #d2d5d9;
    border: solid 1px black;
  }
  h4 {
    margin-top: 0;
  }
}

.card-actions {
  padding: 10px;
  button {
    width: 100%;
    color: white;
    font-size: 14px;
    font-weight: bolder;
    padding: 10px 0;
    background-color: orange;
    border: none;
  }
}
