
@import "../../../../../assets/style/colors.scss";

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $white;
  border-radius: 4px;
  min-height: 100%;
  box-shadow: 1px 0px 15px -3px #000000;

  &:hover {
    cursor: pointer;
  }

  &.selected {
    background-color: $beige;
  }

  .card-content-wrapper {
    display: flex;
    flex-grow: 1;
    min-width: 300px;
    min-height: 150px;

    .card-image {
      flex: 0 0 45%;
      max-width: 45%;
      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }

    .card-content {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      justify-content: space-between;

      .top {
        display: flex;
        flex-direction: column;

        h4 { word-break: break-all; }

        .address { color: $gray; }
      }

      .bottom {
        display: flex;
        flex-direction: column;

        .disclaimer {
          color: $gray;
        }
      }
    }
  }

  .card-actions {
    button {
      width: 100%;
    }
  }
}