<article
  class="card my-4"
  [id]="cardId"
  [class.selected]="isSelected"
  (click)="onCardClick()"
>
  <div class="card-content-wrapper p-10 pb-0">
    <div class="card-image mr-10">
      <img src="/assets/img/hotel.jpg" height="100" width="100" />
    </div>
    <div class="card-content">
      <div class="top">
        <h4 class="my-0 text-18 bold">{{ hotel.title }}</h4>
        <span *ngIf="hotel.distance" class="address text-12 bold mt-10">
          {{ distanceFromCenter }} FROM THE CITY CENTER
        </span>
      </div>
      <div class="bottom">
        <span class="price text-24 bold">$98</span>
        <span class="disclaimer text-12">Designs may vary</span>
      </div>
    </div>
  </div>
  <div class="card-actions py-10 mb-10">
    <button type="button" (click)="onBookClick($event)" class="btn btn-orange px-10 text-16 bold">
      Book
    </button>
  </div>
</article>
