<article
  class="card"
  [id]="cardId"
  [class.selected]="isSelected"
  (click)="onCardClick()"
>
  <div class="content-wrapper">
    <div class="card-image">
      <img src="/assets/img/hotel.jpg" height="100" width="100" />
    </div>
    <div class="card-content">
      <div class="top">
        <h4>{{ hotel.title }}</h4>
        <span *ngIf="hotel.distance" class="address">
          {{ distanceFromCenter }} from the city center
        </span>
      </div>
      <div class="bottom">
        <span class="price">$98</span>
        <span class="disclaimer">Designs may vary</span>
      </div>
    </div>
  </div>
  <div class="card-actions">
    <button (click)="onBookClick($event)" class="btn-orange" type="button">
      Book
    </button>
  </div>
</article>
